/*            CSS for BR Architects           */

/************************************************************************************
*******************************GENERAL SECTION***************************************
************************************************************************************/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.section{
    padding: 32px 32px 0;
}
h2{
    font-size: 24px;
    font-weight: 400;
    font-family: arial, sans-serif;
    text-transform: capitalize;
    border-bottom: 1px solid #f1f1f1;
    padding: 40px 0 20px 0;
    margin: 0 0 35px 0;
}
.pull-left{
    float: left;
}
/*
.pull-right{
    float: right;
}
*/
a{
    text-decoration: none!important;
    color: black;
}
.letter-space{
    letter-spacing: 4px;
}

.margin-bottom-16{
    margin-bottom: 16px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-28{
    margin-bottom: 28px;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-bottom-75{
    margin-bottom: 75px;
}
.margin-bottom-95{
    margin-bottom: 95;
}
.margin-bottom-120{
    margin-bottom: 120;
}
.margin-right-10{
    margin-right: 20px;
}
.no-margin-left{
    margin-left: 0!important;
}
.no-margin-right{
    margin-right: 0!important;
}
.w-100{
    height: 100%;
 
}
/************************************************************************************
********************************HEADER SECTION***************************************
************************************************************************************/

.nav-bar{
    width: 100%;
    height: 55px;
    background: #fff;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.12);
}
.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.menu{
    height: 54px; 
    padding: 8px 16px;
}
.menu-item{
    padding: 8px 16px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    box-sizing: border-box;
}
.menu-item.a{
    color: black;
}
.menu-item:hover{
    background: #CCC;
}

/************************************************************************************
********************************SLIDER SECTION***************************************
************************************************************************************/

.image{
    width: 100%;
    height: 100%;
    margin: 0;
}
.bg-dark{
    background: rgba(0,0,0,0.8);
    color: white;
}
.i-padding{
    padding: 16px 14px;
}
.name{
    display: inline;
    font-weight: 400;
    font-family: arial, sans-serif;
    font-size: 36px;
    color: #f1f1f1;
    letter-spacing: 4px;
}
.heading-1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 26px;
    margin-left: -150px;
    
}

/************************************************************************************
********************************PROJECT SECTION**************************************
************************************************************************************/

.row{
    width: 100%;
    height: 220px;
    padding: 2px 0;
}
.size{
    display: inline-block;
    position: relative;
    width: 23.80%;
    margin: 0 6px;
}
.img{
    width: 100%;
}
.text{
    background: #000;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    text-transform: capitalize;
}

/************************************************************************************
**********************************ABOUT SECTION**************************************
************************************************************************************/

.long-row{
    width: 100%;
    height: 455px;
    padding: 2px 0;
}
.text-med{
    font-size: 24px;
}
.details{
    font-family: arial, sans-serif;
    color: black;
    font-weight: 400;
}
.caps{
    text-transform: capitalize;
}
.gray{
    color: #666;
}
.btn{
    background: #F1F1F1;
    color: black;
    padding: 8px 41.50%;
}
.btn:hover{
    background: #CCC;
}
.xtra-height{
    display: inline-block;
    position: relative;
    width: 23.80%;
    height: 455px;
    margin: 0 6px;
}

/************************************************************************************
**********************************ABOUT SECTION**************************************
************************************************************************************/

.input-field{
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}

.send-btn{
    background: black;
    color: white;
    padding: 8px 16px;
    font-size: 15px;
    border: none;
}
.send-btn:hover{
    background: #CCC;
    cursor: pointer;
    color: black;
}

/************************************************************************************
*********************************FOOTER SECTION**************************************
************************************************************************************/

.footer{
    background: black;
    color: white;
    width: 100%;
    height: 84px;
    text-align: center;
}
.p-center{
    padding: 32px;
}
.u-link{
    color: white;
    text-decoration: underline!important;
}
.u-link:hover{
    color: #4CAF50;
    text-decoration: underline!important;
}







